workspace/out_dir_xg6nz3w6/SimID_1006880647_0_00.zip
venv_vcell_imac/lib/python3.12/site-packages/libvcell/lib/libvcell.dylib
venv_vcell_imac/lib/python3.12/site-packages/vtkmodules/.dylibs/libvtkCommonCore.dylib
