.idea/
.DS_Store
.DS_Store
*.h5
*.zip
.DS_Store
4_vcell_to_ch/output/_09_16_25_CPC_metacentric_relaxed_model_09_16_25_metacentric_relaxed_model_120_256x256_5maxphi.csv
4_vcell_to_ch/output/_09_16_25_CPC_metacentric_relaxed_model_09_16_25_metacentric_relaxed_model_120_256x256__8maxphi.csv
