.idea/
.DS_Store
*.h5
*.zip
4_vcell_to_ch/output/_09_16_25_CPC_metacentric_relaxed_model_09_16_25_metacentric_relaxed_model_120_256x256_5maxphi.csv
4_vcell_to_ch/output/_09_16_25_CPC_metacentric_relaxed_model_09_16_25_metacentric_relaxed_model_120_256x256__8maxphi.csv
3a_run_pyvcell/workspace/out_dir_6032x912/SimID_1534874793_0_00.zip
3a_run_pyvcell/workspace/out_dir_7tjmh3si/SimID_1185766968_0_00.zip
3a_run_pyvcell/workspace/out_dir_1hurn6gg/SimID_1663091164_0_00.zip
3a_run_pyvcell/workspace/out_dir_ldxvtj93/SimID_264784301_0_00.zip
3a_run_pyvcell/workspace/out_dir_177zafd5/SimID_1956938482_0_00.zip
vcell_out/_10_16_23/reports.h5
vcell_out/_06_23_23_model1/reports.h5
vcell_out/_06_23_23_model1/_06_23_23_model1.sedml/SimID_993410728_2_00.zip
vcell_out/_06_23_23_model1/_06_23_23_model1.sedml/SimID_993410728_0_00.zip
vcell_out/_06_23_23_model1/_06_23_23_model1.sedml/SimID_993410728_1_00.zip
vcell_out/MaybeFixedResults/reports.h5
vcell_out/_09_16_25_CPC_metacentric_relaxed_model/_09_16_25_CPC_metacentric_relaxed_model.sedml/SimID_1323233441_0_00.zip
vcell_out/_09_16_25_CPC_metacentric_relaxed_model/_09_16_25_CPC_metacentric_relaxed_model.sedml/SimID_2087014122_0_00.zip
vcell_out/_09_16_25_CPC_metacentric_relaxed_model/_09_16_25_CPC_metacentric_relaxed_model.sedml/SimID_1848108550_0_00.zip
vcell_out/_09_16_25_CPC_metacentric_relaxed_model/reports.h5
vcell_out/_09_16_25_CPC_metacentric_relaxed_model/tsk_0_0_job_0_results.h5
4_vcell_to_ch/output/11_07_2025/11_07_25 CPC_metacentric_relaxed_MCF10A_11_07_25_metacentric_relaxed_MCF10A_18_256x256__8.4max_2minphi.csv
4_vcell_to_ch/output/11_07_2025/11_07_25 CPC_metacentric_tensed_model_11_07_25_metacentric_tensed_MCF10A_18_256x256__8.4max_0minphi.csv
4_vcell_to_ch/output/9_16_2025/_09_16_25_CPC_metacentric_relaxed_model_09_16_25_metacentric_relaxed_model_120_256x256_5maxphi.csv
4_vcell_to_ch/output/9_16_2025/_09_16_25_CPC_metacentric_relaxed_model_09_16_25_metacentric_relaxed_model_120_256x256__8maxphi.csv
.git/objects/pack/pack-8344c875bf715651e91a364754341471b0275dee.pack
5_vcell_to_ch/output/11_07_2025/11_07_25 CPC_metacentric_relaxed_MCF10A_11_07_25_metacentric_relaxed_MCF10A_18_256x256__8.4max_2minphi.csv
5_vcell_to_ch/output/11_07_2025/11_07_25 CPC_metacentric_tensed_model_11_07_25_metacentric_tensed_MCF10A_18_256x256__8.4max_0minphi.csv
5_vcell_to_ch/output/9_16_2025/_09_16_25_CPC_metacentric_relaxed_model_09_16_25_metacentric_relaxed_model_120_256x256_5maxphi.csv
5_vcell_to_ch/output/9_16_2025/_09_16_25_CPC_metacentric_relaxed_model_09_16_25_metacentric_relaxed_model_120_256x256__8maxphi.csv
3c_run_pyvcell/workspace/out_dir_6032x912/SimID_1534874793_0_00.zip
3c_run_pyvcell/workspace/out_dir_7tjmh3si/SimID_1185766968_0_00.zip
3c_run_pyvcell/workspace/out_dir_1hurn6gg/SimID_1663091164_0_00.zip
3c_run_pyvcell/workspace/out_dir_ldxvtj93/SimID_264784301_0_00.zip
3c_run_pyvcell/workspace/out_dir_177zafd5/SimID_1956938482_0_00.zip
vcell_out/old_results/_10_16_23/reports.h5
vcell_out/old_results/_06_23_23_model1/reports.h5
vcell_out/old_results/_06_23_23_model1/_06_23_23_model1.sedml/SimID_993410728_2_00.zip
vcell_out/old_results/_06_23_23_model1/_06_23_23_model1.sedml/SimID_993410728_0_00.zip
vcell_out/old_results/_06_23_23_model1/_06_23_23_model1.sedml/SimID_993410728_1_00.zip
vcell_out/old_results/MaybeFixedResults/reports.h5
functions/.Rhistory
4_post_VCell_processing/.Rhistory
5_vcell_to_ch/output/11_25_2025/11_24_25_metacentric_relaxed_MCF10A_100_180x180__8.4max_1.5minphi.csv
5_vcell_to_ch/output/11_25_2025/11_24_25_metacentric_relaxed_MCF10A_100_180x180__8.4max_2minphi.csv
5_vcell_to_ch/output/11_25_2025/11_24_25_metacentric_relaxed_MCF10A_100_180x180__8.4max_1minphi.csv
5_vcell_to_ch/output/11_25_2025/11_24_25_metacentric_tensed_MCF10A_100_180x180__8.4max_0.5minphi.csv
5_vcell_to_ch/output/11_25_2025/11_24_25_metacentric_tensed_MCF10A_100_180x180__8.4max_2minphi.csv
5_vcell_to_ch/output/11_25_2025/11_24_25_metacentric_relaxed_MCF10A_100_180x180__8.4max_0minphi.csv
5_vcell_to_ch/output/11_25_2025/11_24_25_metacentric_tensed_MCF10A_100_180x180__8.4max_1minphi.csv
5_vcell_to_ch/output/11_25_2025/11_24_25_metacentric_relaxed_MCF10A_100_180x180__8.4max_3minphi.csv
5_vcell_to_ch/output/11_25_2025/11_24_25_metacentric_relaxed_MCF10A_100_180x180__8.4max_0.5minphi.csv
5_vcell_to_ch/output/11_25_2025/11_24_25_metacentric_tensed_MCF10A_100_180x180__8.4max_0minphi.csv
5_vcell_to_ch/output/11_25_2025/11_24_25_metacentric_tensed_MCF10A_100_180x180__8.4max_1.5minphi.csv
5_vcell_to_ch/output/11_25_2025/CPC_all_11_24_25_metacentric_relaxed_MCF10A_condensation_100_180x180__8.4max_1.5minphi.csv
5_vcell_to_ch/output/11_25_2025/CPC_all_11_24_25_metacentric_relaxed_MCF10A_condensation_100_180x180__8.4max_0minphi.csv
5_vcell_to_ch/output/11_25_2025/CPC_all_11_24_25_metacentric_relaxed_MCF10A_condensation_100_180x180__8.4max_0.5minphi.csv
5_vcell_to_ch/output/11_25_2025/CPC_all_11_24_25_metacentric_relaxed_MCF10A_condensation_100_180x180__8.4max_2minphi.csv
5_vcell_to_ch/output/11_25_2025/CPC_all_11_24_25_metacentric_relaxed_MCF10A_condensation_100_180x180__8.4max_1minphi.csv
5_vcell_to_ch/output/11_25_2025/CPC_all_11_24_25_metacentric_relaxed_MCF10A_condensation_100_180x180__8.4max_2.5minphi.csv
5_vcell_to_ch/output/11_25_2025/CPC_all_11_24_25_metacentric_relaxed_MCF10A_100_/11_24_25_metacentric_relaxed_MCF10A_100_180x180__8.4max_1.5minphi.csv
5_vcell_to_ch/output/11_25_2025/CPC_all_11_24_25_metacentric_relaxed_MCF10A_100_/11_24_25_metacentric_relaxed_MCF10A_100_180x180__8.4max_1minphi.csv
5_vcell_to_ch/output/11_25_2025/CPC_all_11_24_25_metacentric_relaxed_MCF10A_100_/11_24_25_metacentric_relaxed_MCF10A_100_180x180__8.4max_0minphi.csv
5_vcell_to_ch/output/11_25_2025/CPC_all_11_24_25_metacentric_relaxed_MCF10A_100_/11_24_25_metacentric_relaxed_MCF10A_100_180x180__8.4max_3minphi.csv
5_vcell_to_ch/output/11_25_2025/CPC_all_11_24_25_metacentric_relaxed_MCF10A_100_/11_24_25_metacentric_relaxed_MCF10A_100_180x180__8.4max_0.5minphi.csv
5_vcell_to_ch/output/11_25_2025/CPC_all_11_24_25_metacentric_relaxed_MCF10A_100_/11_24_25_metacentric_relaxed_MCF10A_100_180x180__8.4max_2minphi.csv
5_vcell_to_ch/output/11_25_2025/CPC_all_11_24_25_metacentric_tensed_MCF10A_100_/11_24_25_metacentric_tensed_MCF10A_100_180x180__8.4max_0.5minphi.csv
5_vcell_to_ch/output/11_25_2025/CPC_all_11_24_25_metacentric_tensed_MCF10A_100_/11_24_25_metacentric_tensed_MCF10A_100_180x180__8.4max_2minphi.csv
5_vcell_to_ch/output/11_25_2025/CPC_all_11_24_25_metacentric_tensed_MCF10A_100_/11_24_25_metacentric_tensed_MCF10A_100_180x180__8.4max_1minphi.csv
5_vcell_to_ch/output/11_25_2025/CPC_all_11_24_25_metacentric_tensed_MCF10A_100_/11_24_25_metacentric_tensed_MCF10A_100_180x180__8.4max_0minphi.csv
5_vcell_to_ch/output/11_25_2025/CPC_all_11_24_25_metacentric_tensed_MCF10A_100_/11_24_25_metacentric_tensed_MCF10A_100_180x180__8.4max_1.5minphi.csv
5_vcell_to_ch/output/11_25_2025/CPC_all_11_24_25_metacentric_relaxed_MCF10A_condensation_100_/CPC_all_11_24_25_metacentric_relaxed_MCF10A_condensation_100_180x180__8.4max_2minphi.csv
5_vcell_to_ch/output/11_25_2025/CPC_all_11_24_25_metacentric_relaxed_MCF10A_condensation_100_/CPC_all_11_24_25_metacentric_relaxed_MCF10A_condensation_100_180x180__8.4max_2.5minphi.csv
5_vcell_to_ch/output/11_25_2025/CPC_all_11_24_25_metacentric_relaxed_MCF10A_condensation_100_/CPC_all_11_24_25_metacentric_relaxed_MCF10A_condensation_100_180x180__8.4max_1.5minphi.csv
5_vcell_to_ch/output/11_25_2025/CPC_all_11_24_25_metacentric_relaxed_MCF10A_condensation_100_/CPC_all_11_24_25_metacentric_relaxed_MCF10A_condensation_100_180x180__8.4max_1minphi.csv
5_vcell_to_ch/output/11_25_2025/CPC_all_11_24_25_metacentric_relaxed_MCF10A_condensation_100_/CPC_all_11_24_25_metacentric_relaxed_MCF10A_condensation_100_180x180__8.4max_0.5minphi.csv
5_vcell_to_ch/output/11_25_2025/11_24_25_metacentric_relaxed_MCF10A_100_/11_24_25_metacentric_relaxed_MCF10A_100_180x180__8.4max_1.5minphi.csv
5_vcell_to_ch/output/11_25_2025/11_24_25_metacentric_relaxed_MCF10A_100_/11_24_25_metacentric_relaxed_MCF10A_100_180x180__8.4max_1minphi.csv
5_vcell_to_ch/output/11_25_2025/11_24_25_metacentric_relaxed_MCF10A_100_/11_24_25_metacentric_relaxed_MCF10A_100_180x180__8.4max_0minphi.csv
5_vcell_to_ch/output/11_25_2025/11_24_25_metacentric_relaxed_MCF10A_100_/11_24_25_metacentric_relaxed_MCF10A_100_180x180__8.4max_3minphi.csv
5_vcell_to_ch/output/11_25_2025/11_24_25_metacentric_relaxed_MCF10A_100_/11_24_25_metacentric_relaxed_MCF10A_100_180x180__8.4max_2minphi.csv
5_vcell_to_ch/output/11_25_2025/11_24_25_metacentric_tensed_MCF10A_100_/11_24_25_metacentric_tensed_MCF10A_100_180x180__8.4max_0.5minphi.csv
5_vcell_to_ch/output/11_25_2025/11_24_25_metacentric_tensed_MCF10A_100_/11_24_25_metacentric_tensed_MCF10A_100_180x180__8.4max_2minphi.csv
5_vcell_to_ch/output/11_25_2025/11_24_25_metacentric_tensed_MCF10A_100_/11_24_25_metacentric_tensed_MCF10A_100_180x180__8.4max_1minphi.csv
5_vcell_to_ch/output/11_25_2025/11_24_25_metacentric_tensed_MCF10A_100_/11_24_25_metacentric_tensed_MCF10A_100_180x180__8.4max_0minphi.csv
5_vcell_to_ch/output/11_25_2025/11_24_25_metacentric_tensed_MCF10A_100_/11_24_25_metacentric_tensed_MCF10A_100_180x180__8.4max_1.5minphi.csv
*.hdf5
*.lock
*.log
5_vcell_to_ch/generate_plot_pdf/.snakemake/*
5_vcell_to_ch/output/*/*/*energy.csv
5_vcell_to_ch/output/*/*/*mass_uncentered.csv
5_vcell_to_ch/IC/01_28_2026/*
5_vcell_to_ch/int/*
5_vcell_to_ch/output/*/*/*phi.csv

*.patch
.claude/worktrees/serene-bhaskara/
3c_run_pyvcell/workspace/out_dir_xg6nz3w6/SimID_1006880647_0_00.zip
3c_run_pyvcell/venv_vcell/lib/python3.12/site-packages/libvcell/lib/libvcell.dylib
vcell_out/FROM_RIVANNA/_09_16_25_CPC_metacentric_relaxed_model/_09_16_25_CPC_metacentric_relaxed_model.sedml/SimID_1323233441_0_00.zip
vcell_out/FROM_RIVANNA/_09_16_25_CPC_metacentric_relaxed_model/_09_16_25_CPC_metacentric_relaxed_model.sedml/SimID_2087014122_0_00.zip
vcell_out/FROM_RIVANNA/_09_16_25_CPC_metacentric_relaxed_model/tsk_0_0_job_0_results.h5
vcell_out/FROM_RIVANNA/_09_16_25_CPC_metacentric_relaxed_model.zip
vcell_out/SimID_300540363_0__exported.hdf5
.git/objects/pack/pack-a440ecfcdb377a17a07ec6715f7413f7641ac745.pack
.git/objects/pack/pack-c30fe9dd364ba1a9cbbbb0ca76f49f863a3a050c.pack
.git/objects/pack/pack-bbf9db436aba5cccebd199ddb3c2fdd87e5849eb.pack
.git/objects/pack/pack-9ed2dd9da1d45e06b81fb3885863771532137499.pack
.git/objects/pack/pack-1ce26a61804b2cddca69164a0cb2a7108ee220d8.pack
.git/objects/pack/pack-e51195dd3d0fb96b01764b81a1acd1debbb10cc9.pack
.git/objects/pack/pack-7151f83ccef7b3c5d08af1c1ea3dc62748bbe312.pack
0001-new-sims.patch
/3c_run_pyvcell/venv_vcell
/3c_run_pyvcell/venv_vcell/bin
/3c_run_pyvcell/venv_vcell/bin
*.pyc
*.pyc
/3c_run_pyvcell/venv_vcell_imac
